$primary-color: #f0852b;
.wrapper {
  padding: 0 calc((100% - 1200px) / 2);
  padding-top: 100px;
  position: relative;
  padding-bottom: 100px;
  ::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: 60vw;
    opacity: 0.1;
  }
}

.headlineWrap {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  & h5 {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: $primary-color;
  }

  & p {
    padding: 50px calc((100% - 500px) / 2);
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-gap: 50px 40px;
  grid-template-columns: repeat(1, 1fr);
  padding: 0px calc((100% - 1200px) / 2);
  width: 100%;

  .formWrap {
    padding: 20px calc((100% - 800px) / 2);
    width: 100%;

    .double {
      display: flex;
      flex: 1;
      width: 100%;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .single {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-right: 20px;

      & span {
        color: red;
      }

      &:last-child {
        padding-right: 0;
      }

      @media (max-width: 768px) {
        &:last-child {
          padding-right: 20px;
        }
      }
    }

    & textarea {
      min-height: 180px;
    }

    .formLabel {
      width: 100%;
      display: flex;
      flex: 1;
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 10px;

      & span {
        color: red;
      }
    }

    .formInput {
      display: block;
      width: 100%;
      padding: 10px;
      appearance: none;
      font-size: inherit;
      line-height: inherit;
      border: 1px solid;
      border-radius: 4px;
      color: inherit;
      background-color: transparent;
      border-radius: 8px;
      border-color: #e5ecf4;
      height: 60px;
      margin-bottom: 15px;

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 0 2px $primary-color;
        outline: none;
      }
    }

    .actionMessage {
      background-color: #2d9035;
      color: #fff;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      width: fit-content;
      padding: 10px 15px;
    }

    button {
      appearance: none;
      display: inline-block;
      border: 0;
      border-radius: 45px;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: -0.15px;
      padding: 12px 30px;
      cursor: pointer;
      line-height: 1.2;
      transition: all 0.25s;
      font-weight: 500;
      color: white;
      background-color: $primary-color;
    }
  }
}
