// $primary-color: #8b2bf0;
$primary-color: #f6e270;
$secondary-color: #462522;
.wrapper {
  text-align: center;
  margin: 0 -1em;
  margin-bottom: 50px;

  .videoModal {
    position: relative;
    z-index: 0;
    & > div {
      height: 100vh;
      width: 100vw;
    }
    & img {
      position: relative;
      z-index: 1;
      object-fit: cover;
      object-position: top;
      @media (max-width: 1200px) {
        max-height: unset !important;
        max-width: unset !important;
        min-height: unset !important;
        min-width: unset !important;
        left: unset !important;
        object-fit: initial;
        height: 100% !important;
        width: auto !important;
      }
    }
    & button {
      border: 0;
      cursor: pointer;
      transition: all 0.25s;
      // color: rgb(167, 155, 155);
      color: #6b63fe54;
      z-index: 2;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 100px;
        height: 100px;
        // background-color: #20afb1;
        background-color: $secondary-color;
        border-radius: 50%;
        animation: play 1.5s ease-out infinite;
        opacity: 0.5;
      }

      & span {
        background-color: rgba($secondary-color, 0.5);
        width: 100px;
        height: 100px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        & svg {
          font-size: 60px;
          fill: rgba($color: #fff, $alpha: 0.9);

          &:hover {
            fill: rgba($color: #fff, $alpha: 1);
          }
        }
      }
    }
  }

  & > div {
    height: 100vh;
    width: 100vw;
  }

  & p {
    padding: 50px calc((100% - 600px) / 2);
    font-size: 1.3rem;
    line-height: 1.9;
    font-weight: normal;
    color: #0f2137;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}
@keyframes play {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
.playerControl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .closePlayer {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
    color: white;
    font-size: 2rem;
  }
}
