$primary-color: #6c63fe;
.wrapper {
  padding: 0 calc((100% - 1200px) / 2);
  min-height: 100vh;
  padding-bottom: 100px;
}

.maxWidth {
  width: 100vw;
  height: 100%;
  margin: 0 -1em;
}

.headlineWrap {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  & h5 {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: $primary-color;
  }

  & p {
    padding: 50px calc((100% - 500px) / 2);
  }
}

.headline2Wrap {
  width: 100%;
  margin: 0 auto;
  text-align: left;

  & h5 {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: $primary-color;
  }

  // & p {
  //   // padding: 50px calc((100% - 500px) / 2);
  // }

  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
  }
}

.background {
  background-color: $primary-color;
  background-image: url("../../../public/images/patternBG.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  color: #fff !important;

  & h5 {
    color: #fff;
  }
}

.grid {
  display: grid;
  grid-gap: 50px 40px;
  grid-template-columns: repeat(1, 1fr);
  padding: 50px calc((100% - 1200px) / 2);

  @media (max-width: 420px) {
    padding: 20px calc((100% - 1200px) / 2);
  }

  .innerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 40px;
    text-align: left;
    align-items: flex-start;
    .textWrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: justify;
      padding: 0 2rem;
      & h2 {
        @media (max-width: 768px) {
          text-align: center;
        }
      }
      & p {
        margin: 0;
        min-width: 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.9;
        padding-top: 1.5rem;
      }
    }
    &:nth-of-type(even) {
      .graphic {
        order: 1;
      }
      .textWrap {
        order: 0;
        flex: 2;
        & h2 {
          text-align: right;
          @media (max-width: 768px) {
            text-align: center;
          }
        }
      }
    }
    .singleItem {
      display: flex;

      .question {
        max-width: 60px;
        max-height: 60px;
        width: 100%;
        flex: 1;
        background-color: $primary-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
          object-fit: contain;
          filter: invert(1);
        }
      }
    }
    .graphic {
      & > div {
        @media (max-width: 768px) {
          max-height: 500px !important;
        }
      }
      & img {
        object-fit: contain;
      }
    }
    .videoModal {
      margin: 0;
      position: relative;
      z-index: 0;
      & img {
        position: relative;
        z-index: 1;
        height: auto;
        border-radius: 10px;
      }
      & button {
        border: 0;
        cursor: pointer;
        transition: all 0.25s;
        color: white;
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        background-color: transparent;

        &::before {
          position: absolute;
          content: "";
          left: 55%;
          top: 51%;
          transform: translate(-50%, -50%);
          display: block;
          width: 100px;
          height: 100px;
          background-color: $primary-color;
          border-radius: 50%;
          animation: play 1.5s ease-out infinite;
          opacity: 0.5;
        }

        & span {
          background-color: rgba(255, 255, 255, 0.5);
          width: 100px;
          height: 100px;
          text-align: center;
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.5s;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 2;
          & svg {
            font-size: 60px;
          }
        }
      }
      @media (max-width: 768px) {
        margin: auto;
      }
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);

      &:nth-of-type(even) {
        .graphic {
          order: 0;
        }
        .textWrap {
          order: 1;
        }
      }
    }
  }
}

.recoveryGrid {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 15px;
  padding-right: 30px;

  .recoveryFlex {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;

    @media (max-width: 768px) {
      align-items: center;
    }

    @media (min-width: 1000px) {
      &::after {
        content: "";
        background-image: url("../../../public/images/arrow.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 0;
        left: 70px;
        width: 80%;
        height: 40px;
      }
      &:nth-of-type(2n) {
        &::after {
          content: "";
          background-image: url("../../../public/images/arrow2.svg");
          background-repeat: no-repeat;
          background-size: contain;
          top: 25px;
          width: 80%;
          height: 40px;
        }
      }
      &:nth-of-type(4) {
        &::after {
          display: none;
        }
      }
    }

    @media (min-width: 1200px) {
      &::after {
        left: 80px;
      }
    }

    .recoveryNumber {
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      border-radius: 23px;
      background-color: white;
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      font-size: 28px;
      font-weight: 700;
      justify-content: center;
      color: #234582;
      opacity: 0.9;
    }
    .recoveryText {
      display: flex;
      flex-direction: column;
      min-height: 260px;
      justify-content: space-between;
      @media (max-width: 1000px) {
        min-height: 0;
      }
      & h5 {
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 0px;
        margin-bottom: 1rem;
        opacity: 0.9;
        text-transform: unset;
      }
      & p {
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
        color: white;
        opacity: 0.9;
      }
    }
  }

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 380px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes play {
  from {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  to {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
