$primary-color: #f6e270;
$secondary-color: #462522;

.wrapper {
  @import "../../styles/globals.scss";
  padding: 0 calc((100% - 1200px) / 2);
  margin-top: 2rem;
  .headlineWrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .titleWrap {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 1rem;
      & img {
        max-height: 1.75rem;
      }
      & h3 {
        font-family: $madeWaffleSoft;
      }
      .left {
        transform: rotate(-90deg);
      }
    }
  }

  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem calc((100% - 800px) / 2);

    @media (max-width: 1000px) {
      padding: 2rem calc((100% - 800px) / 2);
    }

    .innerGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px 40px;

      @media (max-width: 675px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
      }
    }
    .more {
      display: flex;
      width: 100%;
      box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      .text {
        display: flex;
        flex-direction: column;
        flex: 77%;
        padding: 2rem;
        color: $secondary-color;
        & h4 {
          margin-bottom: 1rem;
          padding: 1rem;
        }

        & p {
          padding: 1rem;
        }
      }
      .img {
        display: flex;
        flex: 33%;
        background-color: beige;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 8px;
    transition: all ease-in-out 0.4s;
    padding: 30px 0;
    max-width: 300px;
    min-width: 270px;
    width: 100%;
    margin: auto;

    .profilePic {
      max-height: 150px;
      max-width: 150px;
      height: 100%;
      width: 100%;

      & img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
        border-radius: 50%;
        // border: 2px solid rgba($primary-color, 0.4) !important;
        border: 2px solid rgba(#fff, 0.4) !important;
        &:hover {
          // border: 2px solid rgba($primary-color, 0.8) !important;
          border: 2px solid rgba(#fff, 0.8) !important;
        }
      }
    }

    .textWrap {
      text-align: center;
      margin-top: 15px;
      // color: rgba($primary-color, 0.6);
      color: rgba($secondary-color, 0.9);

      & h6 {
        font-size: 1.3rem;
      }
      & p {
        margin-top: 15px;
      }
    }

    .socialWrap {
      display: block;
      position: absolute;
      bottom: -20px;
      right: 20px;
      opacity: 0;

      .social {
        margin-bottom: -15px;
        & a {
          color: $secondary-color;
          // color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      .textWrap {
        // color: rgba($primary-color, 0.8);
        & h6,
        & p {
          color: $secondary-color;
        }
      }

      .socialWrap {
        opacity: 1;
        bottom: 20px;
        transition: all ease-in-out 0.4s;

        .social {
          margin-bottom: 10px;
          transition: all ease-in-out 0.4s;

          & a {
            // color: rgba(0, 0, 0, 0.9);
            color: rgba($secondary-color, 0.8);
          }
        }
      }
    }
  }
}
