$primary-color: #f6e270;
$secondary-color: #462522;
.footer {
  display: flex;
  justify-content: center;
  min-height: 250px;
  padding: 0.5rem calc((100vw - 800px) / 2);
  position: relative;

  @media (max-width: 768px) {
    margin-top: 10px;
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    & img {
      min-width: 150px;
      cursor: pointer;
    }
    & a {
      padding-top: 50px;
      display: flex;
      color: rgba($primary-color, 0.6);

      &:hover {
        color: rgba($primary-color, 0.8);
      }

      & span {
        padding-left: 5px;
      }
    }
  }

  .otherLinks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 calc((100% - 500px) / 2);
    font-size: 0.9rem;

    @media (max-width: 768px) {
      justify-content: space-evenly;
    }

    & a {
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}
