$primary-color: #f6e270;
$secondary-color: #462522;
.footer {
  display: flex;
  justify-content: center;
  min-height: 250px;
  padding: 0.5rem calc((100vw - 800px) / 2);
  position: relative;

  @media (max-width: 768px) {
    margin-top: 10px;
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    & img {
      min-width: 150px;
      cursor: pointer;
    }
    & a {
      padding-top: 1rem;
      display: flex;
      color: rgba($primary-color, 0.6);

      &:hover {
        color: rgba($primary-color, 0.8);
      }

      & span {
        padding-left: 5px;
      }
    }
  }

  .otherLinks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 calc((100% - 500px) / 2);
    font-size: 0.9rem;

    @media (max-width: 768px) {
      justify-content: center;
    }

    & a {
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
      min-width: fit-content;
      margin: 0.5rem 0;
      padding: 0 0.5rem;
      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
  .copy {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    & p {
      margin: 0.5rem;
    }
  }
}
