@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

$primary-color: #f6e270;
$secondary-color: #462522;

$dmSansRegular: DMSans-Regular, Arial, sans-serif;
$dmSansMedium: DMSans-Medium, Arial, sans-serif;
$dmSansBold: DMSans-Bold, Arial, sans-serif;
$dmSansItalic: DMSans-Italic, Arial, sans-serif;
$madeWaffleSoft: MADE Waffle Soft, Arial, sans-serif;

*,
*:before,
*:after {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background-color: #e8e9ec;
}
body::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 20px;
  border: 3px solid #bfbfbf;
}
html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  text-decoration: none;
}
footer,
header,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
  & > div,
  & next-route-announcer {
    height: 0 !important;
  }
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}

// custom

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  line-height: 1.5;
  color: $secondary-color;
  font-family: $dmSansRegular;
  & span {
    font-family: $madeWaffleSoft;
    font-weight: bold;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  @media (max-width: 1200px) {
    font-size: 2rem;
  }
  @media (max-width: 420px) {
    font-size: 1.5rem;
  }
}
h3 {
  font-size: 2.25rem;
  @media (max-width: 1200px) {
    font-size: 1.75rem;
  }
  @media (max-width: 675px) {
    font-size: 1.25rem;
  }
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h6 {
  font-size: 1rem;
}
p {
  color: $secondary-color;
  line-height: 1.5;
}

.cover {
  & img {
    object-fit: cover !important;
  }
}

.bullet {
  display: flex;
  margin: 1rem 0;

  & p {
    padding: 0 1rem;
    flex: 2;
  }

  & img {
    flex: 1;
    max-width: 30px !important;
    object-fit: contain;
  }

  & > div {
    display: inline-block !important;
  }
}

.bullet0 {
  & > div {
    display: none !important;
  }
}

// slick

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

@import "./layout.scss";
